<!DOCTYPE html>
<html lang="EN">
    <head>
        <%- include('./partials/head')%>
        <title>Music box</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body>
        <%- include('./partials/header')%>
        <main>
         
            <form action="/" class="caja" method="GET">
                <div class="formulario"> 
                    <div id="formContent">
                      <h2 class="active"> Inicia sesión </h2>
                      <h2 class="inactive underlineHover">Registrate</h2>
                  
                      <div id="logoLogin">
                        <img src="images/Logo Music Box.png" alt="Logo de Music Box">
                      </div>
        
                      <form>
                        <input type="text" id="login"  name="login" placeholder="Inicia Sesión">
                        <input type="password" id="password"  name="password" placeholder="Contraseña">
                        <input type="submit" value="Inicia Sesión">
                      </form>
   
                
                      <div id="formFooter">
                        <a class="underlineHover" href="#">Olvidaste tu contraseña?</a>
                      </div>
                  
                    </div>
                  </div>
               
            </form>
        </main>
        <%- include('./partials/footer')%>
    </body>
</html>