<!DOCTYPE html>
<html lang="EN">
<head>
    <%- include('./partials/head')%>
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/new-product.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <form action="/products/" class='caja' method="POST" enctype="multipart/form-data">
            <div class="new-product-form">
                <h2>Creá tu producto</h2>
                <form>
                <div>
                    <label>Título del producto</label>
                    <input type="text"  name="titulo" placeholder="Producto" required>
                </div>
                <div>
                    <label for="descripcion"> Descripcion</label>
                    <textarea name="descripcion" id="descripcion" cols="30" placeholder="Describe el producto"></textarea>
                </div>
                <div>
                    <label>Imagen de producto</label>
                    <input type="file" name="product-image" id="product-image" accept=".jpg, .png" multiple>
                </div>
                <div>
                    <label>Categoría</label>
                    <select name="categoria" id="">
                        <option value="" disabled selected>Seleccione una</option>
                        <option value="cuerdas">Cuerdas</option>
                        <option value="">Percusión</option>
                        <option value="">Viento</option>
                        <option value="">Sonido</option>
                        <option value="">Accesorios</option>
                        <option value="">Taller</option>
                    </select>
                </div>
                <div>
                <label>Color:</label>
                <div class="color-checkbox">
                    <label for="colores">Blanco<input type="checkbox" name="colores" value="Blanco"></label>
                    <label for="colores">Negro<input type="checkbox" name="colores" value="Negro"></label>
                    <label for="colores">Rojo<input type="checkbox" name="colores" value="Rojo"></label>
                    <label for="colores">Azúl<input type="checkbox" name="colores" value="Azúl"></label>
                    <label for="colores">Naranja<input type="checkbox" name="colores" value="Naranja"></label>
                    <label for="colores">Verde<input type="checkbox" name="colores" value="Verde"></label>
                </div>
                    
                </div>
                <div>
                    <label for="precio">Precio: </label>
                    <input type="text"  name="precio" placeholder="Precio" required>
                </div>
                

            </div>
            <button id=boton type="submit">Crear</button>
            <button id=boton type="reset">Borrar</button>
            
        </form>
    </main>
    <%- include('./partials/footer')%>
    
</body>
</html>