<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/new-product.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <form action="/new-product" class='' method="POST">
            <div class="new-product-form">
                <h2>Creá tu producto</h2>
                <div class="form">
                    <label for="titulo">Título de producto:</label>
                    <input type="text" class="" name="titulo-producto" required>
                </div>
                <div class="form">
                    <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Descripción"></textarea>
                </div>
                <div class="form">
                    <label>Imagen de producto</label>
                    <input type="file" name="product-image" id="product-image" accept="jpg" multiple>
                </div>
                <div class="form">
                    <label>Categoría</label>
                    <select name="categoria" id="">
                        <option value="" disabled selected>Seleccione una</option>
                        <option value="cuerdas">Cuerdas</option>
                        <option value="">Percusión</option>
                        <option value="">Viento</option>
                        <option value="">Sonido</option>
                        <option value="">Accesorios</option>
                        <option value="">Taller</option>
                    </select>
                </div>
                <div class="form">
                   <label>Color:</label>
                   <div class="color-checkbox">
                    <label for="colores">Blanco<input type="checkbox" name="colores" value="Blanco"></label>
                    <label for="colores">Negro<input type="checkbox" name="colores" value="Negro"></label>
                    <label for="colores">Rojo<input type="checkbox" name="colores" value="Rojo"></label>
                    <label for="colores">Azúl<input type="checkbox" name="colores" value="Azúl"></label>
                    <label for="colores">Naranja<input type="checkbox" name="colores" value="Naranja"></label>
                    <label for="colores">Verde<input type="checkbox" name="colores" value="Verde"></label>
                   </div>
                    
                </div>
                <div class="form">
                    <label for="precio">Precio: </label>
                    <input type="text" name="precio" id="precio" required>
                </div>
                

            </div>
            <button type="submit">Crear</button>
            <button type="reset">Borrar</button>
            
        </form>
    </main>
    <%- include('./partials/footer')%>
    
</body>
</html>