<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitarra Electrica Fender Stratocaster Standar Mexico Rsw Sb</title>
    <link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/product.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="contenedor1">
                <div class="logo">
                    <img src="/images/Logo Music Box.png" alt="Logo de Music Box">
                </div>
                <div><i class="fas fa-map-marker-alt"></i></div>
            </div>
            <div class="contenedor2">
                <form action="/" method="GET">
                    <div>
                        <input type="text" name="busqueda" placeholder="Buscá aquí tu producto" class="search-bar"><i class="fas fa-search"></i>
                    </div>   
                </form>
            </div>
            <div class="contenedor3">
                <div class="register">
                    <a href="/register">Registrate</a>
                </div>
                <div class="login">
                    <a href="/login">Iniciá Sesión</a>
                </div>
                
                <div class="user-account">
                    <i class="far fa-user-circle"></i>
                </div>
                <div class="carrito">
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#">Cuerdas</a>
                </li>
                <li>
                    <a href="#">Percusión</a>
                </li>
                <li>
                    <a href="#">Viento</a>
                </li>
                <li>
                    <a href="#">Sonido</a>
                </li>
                <li>
                    <a href="#">Accesorios</a>
                </li>
                <li>
                    <a href="#">Taller</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="product">
                <div class="product-image">
                    <img src="/images/Guitarra Eléctrica Music Box.png" alt="Guitarra Eléctrica">
                </div>
                <article class="main-description">
                    <h2>Guitarra Electrica Fender Stratocaster Standar Mexico Rsw Sb</h2>
                    <p class="puntaje">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i> 10 calificaciones
                    </p>
                    <p>
                        <ul class="shopping-options">
                            <li><i class="fas fa-award"></i> Garantía Oficial</li>
                            <li><i class="fas fa-truck"></i> Envío gratis desde $10.000</li>
                            <li><i class="far fa-credit-card"></i>3, 6 y 12 c/ sin interés</li>
                        </ul>
                        
                    </p>
                    <div class="div-line">

                    </div>
                    <div class="price-select">
                        <p class="price">
                            Precio: $185.683
                        </p>
                        <form action="#" method="GET" class="select-color">
                            <select name="color">
                                <option value="" disabled selected>Seleccioná tu color</option>
                                <option value="#fa383e">Rojo</option>
                                <option value="#efefef">Blanco</option>
                                <option value="#345995">Azúl</option>
                                <option value="#34d1bf">Celeste</option>
                                <option value="#070707">Negro</option> 
                            </select>
                        </form>
                    </div>
                    <div class="div-line">

                    </div>
                    <h3>Descripción:</h3>
                    <div class="product-description">
                            
                        <ul class="description">
                            <li>Forma de cuerpo: ST-Style</li>
                            <li>Fabricada en México</li>
                            <li>Cuerpo de aliso</li>
                            <li>Mástil de Rosewood (Modern C-Shape)</li>
                            <li>Acabado brillante</li>
                            <li>Medida: 648mm</li>
                            <li>Diapasón de Rosewood</li>
                            <li>21 trastes medium</li>
                           <li>Ancho de cejuela: 42,0 mm</li>
                            <li>3x Standard Single Coil</li>
                            <li>Conmutador de 5 vías</li>
                            <li>Vintage-Style Synchronized Tremolo</li>
                            <li>Golpeador de 3 capas pergamino</li>
                        </ul>
                        <div class="add-cart">
                            <button type="button">Añadir al carrito <i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                    <div class="div-line"></div>
                </article>
            </div>

        </section>
    </main>
    <footer>
        
    </footer>
    
</body>
</html>