<!DOCTYPE html>
<html lang="EN">
    <head>
        <meta charset="utf-8">
        <title>Music box</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/register.css"> 
        <link rel="stylesheet" href="css/product.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="contenedor1">
                    <div class="logo">
                        <img src="images/Logo Music Box.png" alt="Logo de Music Box">
                    </div>
                    <div><i class="fas fa-map-marker-alt"></i></div>
                </div>
                <div class="contenedor2">
                    <form action="/" method="GET">
                        <div>
                            <input type="text" name="busqueda" placeholder="Buscá aquí tu producto" class="search-bar"><i class="fas fa-search"></i>
                        </div>   
                    </form>
                </div>
                <div class="contenedor3">
                    <div class="register">
                        <a href="/register">Registrate</a>
                    </div>
                    <div class="login">
                        <a href="/login">Iniciá Sesión</a>
                    </div>
                    
                    <div class="user-account">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div class="carrito">
                        <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="#">Cuerdas</a>
                    </li>
                    <li>
                        <a href="#">Percusión</a>
                    </li>
                    <li>
                        <a href="#">Viento</a>
                    </li>
                    <li>
                        <a href="#">Sonido</a>
                    </li>
                    <li>
                        <a href="#">Accesorios</a>
                    </li>
                    <li>
                        <a href="#">Taller</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="/register" class="caja" method="POST">
               
                <div class="formulario"> 
                    <h1>Formulario de registro</h1>
                    
                    <div class="form">
                        <input class="barra" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="form">
                        <input class="barra" type="text" name="nick" id="nick" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="form">
                        <input class="barra" type="tel" name="dni" id="dni" placeholder="DNI" required>
                    </div>  
                    <div class="form">
                        <input class="barra" type="password" name="pass" id="pass" placeholder="Contraseña" required>
                    </div>
                    <div class="form">
                        <input class="barra" type="email" name="email" id="email" placeholder="Email" required>
                        
                    </div>
                    <div class="form">
                        <input class="barra" type="password" name="repass" id="repass" placeholder="Repetir Contraseña" required>
                    </div>
                    
                    <div class="terminos, hl">
                        <input type="checkbox" name="terminos" id="TyC" required>
                        <label for="TyC">Acepto los terminos y condiciones</label>
                    </div>
                    <div class="terminos">
                        <input type="checkbox" name="terminos" id="TyC" >
                        <label for="TyC">deseo recibir notificaciones a mi email acerca de actualizaciones 
                    <div class="botones">
                        <button type="reset">Borrar</button>
                        <button type="submit">Aceptar</button>
                    </div>
                </div>
            </form>
        </main>
        <footer>
            <div class="list-inline">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
              </div>
              <p>Copyright<i class="far fa-copyright"></i>All rights reserved</p>
        </footer>
    </body>
</html>