<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <link rel="stylesheet" href="/css/users.css">
    <title>User</title>
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <div>
            <h2>hola <%user.name %> </h2>
            <img src="/images/users/<%users.image%>" alt="">
            <br>
            <br>
            <div>mail:<%user.email%></div>



        </div>
    </main>
    <%- include('./partials/footer')%> 
</body>
</html>