*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo', sans-serif;
}

form h2{
    font-size: 20px;
    text-align: left;
    color: #46494c;
    
}
.new-product-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #46494c;
    padding-bottom: 5%;
}
div .form{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    padding: 1%;
    padding-left: 2px;
    font-weight: 700;
}
div .form label{
    font-size: 18px;
}
.color-checkbox label{
    padding: 5px;
    font-size: 14px;
}
button {
    color: white;
    font-size: 16px;
    width: 170px;
    height: 50px;
    background-color: #1985a1;
    border-radius: 5px;
    margin-bottom: 15%;
    margin-right: 5%;
}

main{
    max-width: 100%;
    width: 90%; 
}


footer{
    padding:30px 15px 15px 15px;
    background-color:#1985a1;
}
.list-inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 10%;
}