*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Exo', sans-serif;
}
header{
    max-width: 100%;
}
.top-header{
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #1985a1;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

.contenedor1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    padding: 5px;
}
.contenedor2{
    display: flex;
}
.contenedor3{
    display: flex;
    margin-right: 15px;
    padding-right: 15px;
}
.register a{
    margin: 0px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.login a{
    margin: 0px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.search-bar{
    width: 200px;
    border-radius: 5px;
}
form h2{
    font-size: 20px;
    text-align: left;
    color: #46494c;
    
}
.new-product-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #46494c;
    padding-bottom: 5%;
}
div .form{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    padding: 1%;
    padding-left: 2px;
    font-weight: 700;
}
div .form label{
    font-size: 18px;
}
.color-checkbox label{
    padding: 5px;
    font-size: 14px;
}
button {
    color: white;
    font-size: 16px;
    width: 170px;
    height: 50px;
    background-color: #1985a1;
    border-radius: 5px;
    margin-bottom: 15%;
    margin-right: 5%;
}
.logo{
    margin-right: 15px;
}
.carrito a i{
    color: white;
    margin-left: 10px;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    list-style: none;
    background-color: #4c5c68;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
main{
    max-width: 100%;
    width: 90%; 
}


footer{
    padding:30px 15px 15px 15px;
    background-color:#1985a1;
}
.list-inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 10%;
}