body{
    font-family: 'Exo', sans-serif;
}

.user{
    text-align: center;
}

.image{
    display: flex;
    padding-left:35%;
    padding-right: 35%;
    width: 30% ;
    border-radius: 50%;
    
}

.datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}